.primary-button {
  padding: 8px 24px;
  border-radius: 55px;
  background-color: var(--btn-color);
  width: fit-content;
  border: 1px solid var(--grey-40);
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.secondary-button {
  padding: 8px 24px;

  width: fit-content;
  background-color: var(--blue);
  color: var(--btn-color);
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}
