.input-wrapper {
  .input-container {
    position: relative;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid var(--grey-60);
    padding: 5px 6px;
    width: calc(100% - 12px);

    &.error-order {
      border-color: var(--feedback-error-50);
    }

    input[placeholder] {
      color: var(--grey-70);
    }
    margin: 8px 0px 0px 0px;
  }
  .error-text {
    position: absolute;
    margin: 4px 2px 0px 2px;
    color: var(--feedback-error-50);
  }
}
